.card-style.mb-30
    h6.mb-25 Enter custom value for `n`
    .input-style-1
        label n
        input(type='text' placeholder='Value for n   [2-100]')
    // end input
    .col-12
    button#submit-btn.main-btn.primary-btn.btn-hover
        | Submit