.card-style.mb-30
    h6.mb-25 Enter custom input values for the following parameters.
    .input-style-1
        label x1
        input(type='text' placeholder='Value for x1   [-5, 5]')
    // end input
    .input-style-2
        label y1
        input(type='text' placeholder='Value for y1   [-10, 10]')
    // end input
    .input-style-1
        label x2
        input(type='text' placeholder='Value for x2   [-5, 5]')
    // end input
    .input-style-2
        label y2
        input(type='text' placeholder='Value for y2   [-10, 10]')
    // end input
    .input-style-1
        label lx
        input(type='text' placeholder='Value for lx   [-5, 5]')
    // end input
    .input-style-2
        label rx
        input(type='text' placeholder='Value for rx   [-5, 5]')
    // end input
    .col-12
    button#submit-btn.main-btn.primary-btn.btn-hover
        | Submit