.invoice-wrapper
        .row
          .col-12
            .invoice-card.card-style.mb-30
              .invoice-header
                .invoice-for
                  h3.mb-10 The Question
              .invoice-address
                .address-item
                  p.text-sm
                    span.text-medium
                        | 4. It is possible to write five as a sum in exactly six different ways:
                        br
                        | 4 + 1
                        br
                        | 3 + 2
                        br
                        | 3 + 1 + 1
                        br
                        | 2 + 2 + 1
                        br
                        | 2 + 1 + 1 + 1
                        br
                        | 1 + 1 + 1 + 1 + 1
                        br
                        | How many different ways can one hundred be written as a sum of at least two positive integers?
          // End Card
        // ENd Col
        // End Row