.invoice-wrapper
        .row
          .col-12
            .invoice-card.card-style.mb-30
              .invoice-header
                .invoice-for
                  h3.mb-10 The Question
              .invoice-address
                .address-item
                  p.text-sm
                    span.text-medium
                      | 7. Share a sample of your web development work, such as a React component or similar, along with a sample REST handler that communicates with it. If you can please also explain, on a high level, how you would host a web service in the AWS cloud. Discuss the relevant AWS services that would be used for hosting, deployment, data storage and scalability. Consider factors like security, availability, and network connectivity between the cloud and typical work networks.

          // End Card
        // ENd Col
        // End Row