.invoice-wrapper
        .row
          .col-12
            .invoice-card.card-style.mb-30
              .invoice-header
                .invoice-for
                  h3.mb-10 The Question
              .invoice-address
                .address-item
                  p.text-sm
                    span.text-medium
                        | 3. It is well known that if the square root of a natural number is not an integer, then it is irrational. The decimal expansion of such square roots is infinite without any repeating pattern at all.
                        | The square root of two is 1.41421356237309504880.., and the digital sum of the first one hundred decimal digits is 475.
                        | For the first one hundred natural numbers, find the total of the digital sums of the first one hundred decimal digits for all the irrational square roots.

          // End Card
        // ENd Col
        // End Row