.invoice-wrapper
        .row
          .col-12
            .invoice-card.card-style.mb-30
              .invoice-header
                .invoice-for
                  h3.mb-10 A brief summary about the solutions
              .invoice-address
                .address-item
                  p.text-sm
                    span.text-medium
                      | This seciton contains the solution to some <a href="https://projecteuler.net/">Project Euler</a> questions.
                      br
                      br
                      | The answer are first displayed for the `default` values which are the specific parameters given by the question.
                      | The users can themselves input the parameter for up until a certain range.
                      br
                      | If you want to get more detailed implementation of the solution then please navigate to the `Portfolio/taskSolutions folder`. `Portfolio` being the main folder itself.    
                      br
                      br
                      | To view the solutions please click on the &grave;Tasks&grave; tab and click on the task number.
                      br
                      br
                      | Also , do note that the answer are not hardcoded in the UI. Rather, everytime we click the task tab, it sends a GET request to the
                      | router and the solution is recalculated and the answer is displayed. 
                      br
                      br
                      | There are thresholds limit and data validation checks for jibberish data. 
          // End Card
        // ENd Col
        // End Row