.invoice-wrapper
        .row
          .col-12
            .invoice-card.card-style.mb-30
              .invoice-header
                .invoice-for
                  h3.mb-10 A brief summary about the solution
              .invoice-address
                .address-item
                  p.text-sm
                    span.text-medium
                      | This project contains the solution to the Interview Question tasks
                      br
                      |                         Apologies from my side for not being able to refine the project and give it some finishing touches.
                      |                         In this interface you can view only the answers and check if they match with the correct answer.
                      br
                      |                         If you want to get more detailed implementation of the solution then please navigate to the Portfilio/taskSolutions folder.
                      br
                      |                         If for some reason the project crashes or does not work you can also view this interface 
                      a(href='https://saugatawale.com/tasks') here.
                      |  It is hosted in a fly server.
                      br
                      br
                      |                         To view the solutions please click on the &grave;Tasks&grave; tab and click on the task number.
          // End Card
        // ENd Col
        // End Row