doctype html
head
  meta(charset='utf-8')
  // Include the CesiumJS JavaScript and CSS files
  script(src='https://cesium.com/downloads/cesiumjs/releases/1.105.1/Build/Cesium/Cesium.js')
  link(href='https://cesium.com/downloads/cesiumjs/releases/1.105.1/Build/Cesium/Widgets/widgets.css' rel='stylesheet')
#ans
  text=ans
script.
  // Your access token can be found at: https://ion.cesium.com/tokens.
  // This is the default access token from your ion account
  Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIzZGY3MTQyOC05Y2IxLTQ3NzgtODk3OS0yYzQ4MjFmNTk0ZDciLCJpZCI6MTQwMjgzLCJpYXQiOjE2ODQ2NzI1MjV9.muaTi9ry_zYYoIRxqX1kjK2DYf_ZhdL25Fo3HrNPLW8';
  document.write("<script type='text/javascript' src='javascripts/satvis/satellite.min.js?v=" + Date.now() + "'><\\/script>");
  document.write("<script type='text/javascript' src='javascripts/satvis/czml-writer.js?v=" + Date.now() +"'><\\/script>");
  document.write("<script type='text/javascript' src='javascripts/satvis/CzmlSatellite.js?v=" + Date.now() + "'><\\/script>");
  document.write("<script type='text/javascript' src='javascripts/satvis/satvisApp.js?v=" + Date.now() + "'><\\/script>");
